<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @gif.url %>
</p>

<div>
	<%= image_tag @gif.url %>
</div>

<p>
  <b>Source:</b>
  <%= @gif.source %>
</p>

<%= button_to 'Bless (1)', moderate_gif_path, :class => "bless" %>
<%= button_to 'Destroy! (2)', @gif, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "destroy" %>

<script>
	$("body").keypress(function(e) {
	  if(e.keyCode == 49) {
		$(".bless").click();
	  } else if(e.keyCode == 50) {
		$(".destroy").click();
      }
	});
</script>
